html{
    margin: 0!important;
    padding: 0!important;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 23, 36);
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container .card{
    position: relative;
    max-width: 300px;
    height: 290px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(190, 183, 183, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 490px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    left: 0px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(245, 245, 245, 0.2);
}
.container .card.imgBx img{
    max-width: 80%;
    border-radius: 6px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 50px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
